<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="dotsquares" translate="label" sortOrder="1000">
            <label>Dotsquares</label>
        </tab>
        <section id="products" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
            <class>separator-top</class>
            <label>Productsinquiry</label>
            <tab>dotsquares</tab>
            <resource>Dotsquares_Productsinquiry::products_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Dotsquares\Productsinquiry\Model\Config\Source\Yesno</source_model>
                </field>
               <field id="send_email_to" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                     <label>Send Email To</label>
                     <validate>required-entry validate-email</validate>

                     <depends>
                    <field id="products/general/enable">1</field>
                </depends>
                </field>
                <field id="identity" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0" >
                   <label>Email Sender</label>
                   <source_model>Dotsquares\Productsinquiry\Model\Config\Source\Email\Identity</source_model>
                  <depends>
                    <field id="products/general/enable">1</field>
                </depends>
                 </field>

                <field id="email_template" translate="label comment" type="select" sortOrder="4" showInDefault="1" showInWebsite="0" showInStore="0" >
                    <label>Email Template</label>
                    <comment>Email template chosen based on theme fallback when "Default" option is selected.</comment>
                    <source_model>Dotsquares\Productsinquiry\Model\Config\Source\Email\Template</source_model>
                    <depends>
                         <field id="products/general/enable">1</field>
                    </depends>
                </field>
                <field id="select" translate="label" type="select"
                sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Select Option</label>
            <source_model>Dotsquares\Productsinquiry\Model\Config\Source\ListMode</source_model>
            <depends>
                    <field id="products/general/enable">1</field>
                </depends>
            </field>
            <field id="tab_label" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="0" showInStore="0">
                     <label>Tab Label</label>
                    <validate>required-entry validate-length maximum-length-50</validate>
                     <depends>
                    <field id="products/general/enable">1</field>
                </depends>
                </field>
                <field id="Google_reCaptcha" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Google reCaptcha</label>
                    <source_model>Dotsquares\Productsinquiry\Model\Config\Source\Yesno</source_model>
                   <depends>
                    <field id="products/general/enable">1</field>
                </depends>
                </field>
                <!-- <field id="public_key" translate="label" type="obscure" sortOrder="8" showInDefault="1" showInWebsite="0"
                       showInStore="0" canRestore="0">
                    <label>Google API Website Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                 <depends>
                    <field id="products/general/enable">1</field>
                </depends>
                </field> -->
                    
                <field id="private_key" translate="label" type="obscure" sortOrder="9" showInDefault="1" showInWebsite="0"
                       showInStore="0" canRestore="1">
                    <label>Google API Secret Key</label>
                    <backend_model>Dotsquares\Productsinquiry\Model\Config\Backend\Encrypted</backend_model>
                
                     <depends>
                    <field id="products/general/enable">1</field>
                </depends>
                </field>
                <!--
                <field id="theme" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0"
                       showInStore="0" canRestore="1">
                    <label>Theme</label>
                    <source_model>Magento\ReCaptchaVersion3Invisible\Model\OptionSource\Theme</source_model>
                <depends>
                    <field id="products/general/enable">1</field>
                </depends>
                </field>
                <field id="size" translate="label" type="select" sortOrder="11" showInDefault="1" showInWebsite="0"
                       showInStore="0" canRestore="1">
                    <label>Size</label>
                    <source_model>Magento\ReCaptchaVersion2Checkbox\Model\OptionSource\Size</source_model>
                
               <depends>
                    <field id="products/general/enable">1</field>
                </depends>
                </field> -->
            </group>
        </section>
    </system>
</config>

