<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="deal_value" xsi:type="array">
                    <item name="class" xsi:type="string">Dotsquares\DailyDeal\Ui\DataProvider\Product\Form\Modifier\Dealvalue</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
     <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="deal_from" xsi:type="array">
                    <item name="class" xsi:type="string">Dotsquares\DailyDeal\Ui\DataProvider\Product\Form\Modifier\Dealfrom</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
     <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="deal_to" xsi:type="array">
                    <item name="class" xsi:type="string">Dotsquares\DailyDeal\Ui\DataProvider\Product\Form\Modifier\Dealto</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    
</config>